/** loading styles 
	border: 1px solid #ccc;
*/
#loading {
	position: absolute;
	left: 45%;
	top: 40%;
	padding: 2px;
	margin-left: -45px;
	z-index: 20001;
	border: 1px solid #ccc;
}

#loading .loading-indicator {
	background: #eef;
	font: bold 13px tahoma, arial, helvetica;
	padding: 10px;
	margin: 0;
	height: auto;
	color: #444;
}

#loading .loading-indicator img {
	margin-right: 8px;
	float: left;
	vertical-align: top;
}

#loading-msg {
	font: normal 10px arial, tahoma, sans-serif;
}

/** Example rules used by the template application (remove for your app) */
h1 {
	font-size: 30px;
	font-weight: bold;
	color: #000000;
	margin: 50px 0px 70px;
	text-align: center;
}

.sendButton {
	display: block;
	font-size: 16pt;
}

/** Most GWT widgets already have a style name defined */
.gwt-DialogBox {
	
}

.dialogVPanel {
	margin: 5px;
}

/** Set ids using widget.getElement().setId("idOfElement") */
#closeButton {
	margin: 15px 6px 6px;
}

/* Formatting specific to the StockWatcher application */
body {
	padding: 10px;
}

.errorMessage {
	color: red;
}